html, body{
  overflow-x: hidden;
}

/* media */
@media(max-width: 400px) {
	table{
		font-size: 0.6em;
		font-weight: bold;
	}
}

@media(max-width: 468.99px) {
	table{
		font-size: 0.8em;
		font-weight: bold;
	}
}